<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/task  
                        http://www.springframework.org/schema/task/spring-task-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd
                        http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	xmlns:task="http://www.springframework.org/schema/task">

    <!-- 数据库链接池配置 -->
	<import resource="spring-dataSource.xml"/>
	
	 <!--    配置quartz任务调度   -->
<!--     <import resource="quartz.xml"/> -->
	
	<!--     memcache缓存配置    -->
<!-- 	 <import resource="spring-memcached.xml"/> -->
	
	<!--     Bean配置    -->
     <import resource="spring-beans.xml"/>
	 
	 <!-- activeMQ配置 -->
<!--      <import resource="spring-activemq.xml"/> -->
     
     <!-- rabbitmq配置 -->
<!--      <context:property-placeholder location="rabbitmq-config.properties" /> -->
<!--      <import resource="spring-rabbitmq.xml"/> -->
     
</beans>