<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
<!-- ========================== 自定义输出格式说明================================ -->    
    <!-- %p 输出优先级，即DEBUG，INFO，WARN，ERROR，FATAL -->    
    <!-- #%r 输出自应用启动到输出该log信息耗费的毫秒数  -->    
    <!-- #%c 输出日志信息所属的类目，配置文件中的名字，通常就是所在类的全名 -->    
    <!-- #%t 输出产生该日志事件的线程名 -->    
    <!-- #%d 输出日志时间点的日期或时间，默认格式为ISO8601，也可以在其后指定格式，比如：%d{yyy MMM dd HH:mm:ss,SSS}，输出类似：2002年10月18日 22：10：28，921  -->    
    <!-- #%l 输出日志事件的发生位置，包括类目名、发生的线程，以及在代码中的行数。举例：Testlog4.main(TestLog4.java:10)  -->
    <!-- #%m: 输出代码中指定的消息,产生的日志具体信息 -->
    <!-- #%n 输出一个回车换行符，Windows平台为“\r\n”，Unix平台为“\n” -->
    <!-- #%L: 输出代码中的行号 -->    
    <!-- #%F: 输出日志消息产生时所在的文件名称 -->
    <!-- ========================================================================== -->    
        
    <!-- ========================== 输出方式说明================================ -->    
    <!-- Log4j提供的appender有以下几种:  -->    
    <!-- org.apache.log4j.ConsoleAppender(控制台),  -->    
    <!-- org.apache.log4j.FileAppender(文件),  -->    
    <!-- org.apache.log4j.DailyRollingFileAppender(每天产生一个日志文件), -->    
    <!-- org.apache.log4j.RollingFileAppender(文件大小到达指定尺寸的时候产生一个新的文件),  -->    
    <!-- org.apache.log4j.WriterAppender(将日志信息以流格式发送到任意指定的地方)   -->    
<!-- ========================================================================== -->    
<!-- 输出到日志文件  -->    
    <appender name="filelog_appender"    
        class="org.apache.log4j.RollingFileAppender">    
        <!-- 设置File参数：日志输出文件名 -->    
        <param name="File" value="F:/cpsh/dev_workspace/dev_log4j/log/testlog4jxml_all.log" />    
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->    
        <param name="Append" value="true" />    
        <!-- 设置文件大小 -->    
<!--         <param name="MaxFileSize" value="1MB" />     -->
        <!-- 设置文件备份 -->    
<!--         <param name="MaxBackupIndex" value="10000" />     -->
        <!-- 设置输出文件项目和格式 -->    
        <layout class="org.apache.log4j.PatternLayout">    
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p (%c:%L)- %m%n" />    
        </layout>    
    </appender>    
    
<!-- 输出到日志文件 每天一个日志  -->    
    <appender name="filelog_daily" class="org.apache.log4j.DailyRollingFileAppender">       
        <param name="File" value="F:/cpsh/dev_workspace/dev_log4j/log/daily.log" />       
        <param name="DatePattern" value="'daily.'yyyy-MM-dd'.log'" />       
        <layout class="org.apache.log4j.PatternLayout">       
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] (%c:%L) - %m%n" />       
        </layout>       
    </appender>     
    
<!-- 输出到控制台中 -->    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">    
        <layout class="org.apache.log4j.PatternLayout">    
            <param name="ConversionPattern"    
                value="%d{yyyy-MM-dd HH:mm:ss} %-5p: %m%n" />    
        </layout>    
    </appender>    
    
<!--- 异步测试，当日志达到缓存区大小时候执行所包的appender -->    
    <appender name="ASYNC_test" class="org.apache.log4j.AsyncAppender">       
     <param name="BufferSize" value="10"/>       
     <appender-ref ref="EMAIL_QQ"/>    
   </appender>    
   
      <!-- [Debug日志] --> 
   <appender name="debug" class="org.apache.log4j.DailyRollingFileAppender">  
     <param name="File" value="F:/cpsh/dev_workspace/dev_log4j/log/debug.log" />  
     <param name="Append" value="true" />  
     <param name="threshold" value="Debug" />  
     <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />  
     <layout class="org.apache.log4j.PatternLayout">  
        <param name="ConversionPattern" value="[%-5p] [%d{yyyy-MM-dd HH:mm:ss}]- %m%n" />  
     </layout> 
     <!-- 必须加上filter才能使得不同级别只输出到对应的日志中 --> 
     <filter class="org.apache.log4j.varia.LevelRangeFilter">
	   <param name="LevelMin" value="DEBUG" />
	   <param name="LevelMax" value="DEBUG" />
	 </filter>
   </appender> 
   
   <!-- [Info日志] --> 
   <appender name="info" class="org.apache.log4j.DailyRollingFileAppender">  
     <param name="File" value="F:/cpsh/dev_workspace/dev_log4j/log/info.log" />  
     <param name="Append" value="true" />  
     <param name="threshold" value="Info" />  
     <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />  
     <layout class="org.apache.log4j.PatternLayout">  
        <param name="ConversionPattern" value="[%-5p] [%d{yyyy-MM-dd HH:mm:ss}]- %m%n" />  
     </layout>  
     <!-- 必须加上filter才能使得不同级别只输出到对应的日志中 --> 
     <filter class="org.apache.log4j.varia.LevelRangeFilter">
       <param name="LevelMin" value="INFO" />
       <param name="LevelMax" value="INFO" />
     </filter>
   </appender>
   
   <!-- [Warn日志] --> 
   <appender name="warn" class="org.apache.log4j.DailyRollingFileAppender">  
     <param name="File" value="F:/cpsh/dev_workspace/dev_log4j/log/warn.log" />  
     <param name="Append" value="true" />  
     <param name="threshold" value="Warn" />  
     <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />  
     <layout class="org.apache.log4j.PatternLayout">  
        <param name="ConversionPattern" value="[%-5p] [%d{yyyy-MM-dd HH:mm:ss}]- %m%n" />  
     </layout>  
     <!-- 必须加上filter才能使得不同级别只输出到对应的日志中 --> 
     <filter class="org.apache.log4j.varia.LevelRangeFilter">
       <param name="LevelMin" value="WARN" />
       <param name="LevelMax" value="WARN" />
     </filter>
   </appender> 
   
   <!-- [错误日志] -->  
   <appender name="error" class="org.apache.log4j.DailyRollingFileAppender">  
     <param name="File" value="F:/cpsh/dev_workspace/dev_log4j/log/error.log" />  
     <param name="Append" value="true" />  
     <param name="threshold" value="Error" />  
     <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />  
     <layout class="org.apache.log4j.PatternLayout">  
        <param name="ConversionPattern" value="[%-5p] [%d{yyyy-MM-dd HH:mm:ss}]- %m%n" />  
     </layout>  
     <!-- 必须加上filter才能使得不同级别只输出到对应的日志中 --> 
     <filter class="org.apache.log4j.varia.LevelRangeFilter">
       <param name="LevelMin" value="ERROR" />
       <param name="LevelMax" value="ERROR" />
     </filter>
   </appender>  
   
    <!-- 
            将logger中的 additivity 属性配置为 false，
            则这个logger不会将日志流反馈到root中
     -->
     <logger name="error_logger" additivity="false">
        <level value="error" />
        <appender-ref ref="error"/>
     </logger>
     
     <logger name="warn_logger" additivity="false">
        <level value="warn" />
        <appender-ref ref="warn"/>
     </logger>
     
     <logger name="info_logger" additivity="false">
        <level value="info" />
        <appender-ref ref="info"/>
     </logger>
     
     <logger name="debug_logger" additivity="false">
        <level value="debug" />
        <appender-ref ref="debug"/>
     </logger>

    <!--通过<logger></logger>的定义
                可以将各个包中的类日志输出到不同的日志文件中
    -->  
    <logger name="com.cpsh.activeMQ.example2" additivity="false">     
        <appender-ref ref="debug" /> 
        <appender-ref ref="info"/> 
        <appender-ref ref="warn"/> 
        <appender-ref ref="error"/>
    </logger>  
    
    <logger name="com.cpsh.rabbitMQ" additivity="false">     
        <appender-ref ref="debug" /> 
        <appender-ref ref="info"/> 
        <appender-ref ref="warn"/> 
        <appender-ref ref="error"/>
    </logger> 
    
  
   <!--通过<category></category>的定义,
        可以将各个包中的类日志输出到不同的日志文件中-->  
	 <!--  
	    <category name="com.cpsh.activeMQ.example2">     
		    <level value="debug" />   
		       <appender-ref ref="debug" />  
		  </category>  
	 -->
  
  <!-- 设置包限制输出的通道 -->    
  <!--   <category name="org.cjj" additivity="false">    
               日志输出级别，起码可以有5个级别，可以扩展自己的级别，邮件发送必须是ERROR级别不好用，所以最后自己扩展一个邮件发送级别    
        <level value="ERROR" />    
        <appender-ref ref="filelog_daily" />    
        <appender-ref ref="daily_appender" />    
        <appender-ref ref="console" />    
        <appender-ref ref="ASYNC_test" />    
 </category> --> 
 
 
<!--   <root>    
      <priority value="debug" />
      <appender-ref ref="debug" />    
 </root>  -->
    
 </log4j:configuration>
