<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/task  
                        http://www.springframework.org/schema/task/spring-task-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd
                        http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	   xmlns:task="http://www.springframework.org/schema/task"
	   default-lazy-init="true">
	   
	   
	<!-- SpyMemcached客户端 -->
	<bean id="spyMemcachedClient" class="com.cpsh.utils.cache.memcached.SpyMemcachedClient" init-method="initialize" >
		<property name="memcachedClient">
			<bean class="net.spy.memcached.spring.MemcachedClientFactoryBean">
				<!-- Servers 一个字符串，包括由空格或逗号分隔的主机或IP地址与端口号 -->
				<property name="servers" value="45.32.255.13:11211" />
				<!-- 默认是TEXT -->
				<property name="protocol" value="BINARY" />
				<!-- 默认是ARRAY_MOD -->
				<property name="locatorType" value="CONSISTENT" />
				<!-- 默认是2500毫秒 -->
				<property name="opTimeout" value="3000" />
				<property name="timeoutExceptionThreshold" value="1998"/>
				<property name="maxReconnectDelay" value="2500"/>
				<property name="hashAlg" value="KETAMA_HASH"/>
				<!-- Set the failure mode {Cancel | Redistribute | Retry} (defaults to Redistribute). -->
			    <property name="failureMode" value="Redistribute"/>
			    <property name="useNagleAlgorithm" value="false"/>
				
				<property name="transcoder">
			      <bean class="net.spy.memcached.transcoders.SerializingTranscoder">
			       <!-- 序列化后的value如果超过这个阀值将启用压缩,单位K -->
			        <property name="compressionThreshold" value="20"/>
			      </bean>
			    </property>
			</bean>
		</property>
	</bean>
    <bean id="memcachedClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean">
        <!-- Servers 一个字符串，包括由空格或逗号分隔的主机或IP地址与端口号 -->
        <property name="servers" value="45.32.255.13:11211" />
        <!-- 默认是TEXT -->
        <property name="protocol" value="TEXT" />
        <!-- 默认是ARRAY_MOD -->
        <property name="locatorType" value="CONSISTENT" />
        <!-- 默认是2500毫秒 -->
        <property name="opTimeout" value="1000" />
        <property name="timeoutExceptionThreshold" value="1998"/>
        <property name="maxReconnectDelay" value="2500"/>
        <property name="hashAlg" value="KETAMA_HASH"/>
        <!-- Set the failure mode {Cancel | Redistribute | Retry} (defaults to Redistribute). -->
        <property name="failureMode" value="Redistribute"/>
        <property name="useNagleAlgorithm" value="false"/>
    </bean>
</beans>


<!--
@see http://code.google.com/p/spymemcached/wiki/SpringIntegration 
属性说明：
Servers
一个字符串，包括由空格或逗号分隔的主机或IP地址与端口号
Daemon
设置IO线程的守护进程(默认为true)状态
FailureMode
设置故障模式(取消，重新分配，重试)，默认是重新分配
HashAlg
设置哈希算法(见net.spy.memcached.HashAlgorithm的值)
InitialObservers
设置初始连接的观察者(观察初始连接)
LocatorType
设置定位器类型(ARRAY_MOD,CONSISTENT),默认是ARRAY_MOD
MaxReconnectDelay
设置最大的连接延迟
OpFact
设置操作工厂
OpQueueFactory
设置操作队列工厂
OpTimeout
以毫秒为单位设置默认的操作超时时间
Protocol
指定要使用的协议(BINARY,TEXT),默认是TEXT
ReadBufferSize
设置读取的缓冲区大小
ReadOpQueueFactory
设置读队列工厂
ShouldOptimize
如果默认操作优化是不可取的，设置为false(默认为true)
Transcoder
设置默认的转码器(默认以net.spy.memcached.transcoders.SerializingTranscoder)
UseNagleAlgorithm
如果你想使用Nagle算法，设置为true
WriteOpQueueFactory
设置写队列工厂
AuthDescriptor
设置authDescriptor,在新的连接上使用身份验证
 -->
